<div id="loadingbar"></div>

<style>
    #loadingbar{
        background-color: var(--primary-color);
        height: 5px;
        animation: load 2s linear;
    }
    @keyframes load {
        0%{
            width: 0%;
        }
        50%{
            width: 50%;
        }
        100%{
            width: 80%;
        }
    }
</style>

<script>
    function loadingBar(){
        document.getElementById("loadingbar").style.display = "none"
    }
</script>